@import url('https://fonts.googleapis.com/css?family=Acme&display=swap');
@import url('https://fonts.googleapis.com/css?family=Nunito+Sans&display=swap');

$description-font: 'Nunito Sans, sans-serif';
$main-font: 'Acme', sans-serif;
$font-color: #191919;
$secondary-color: #191427;
$background-color: rgba(25, 20, 39, .95);
$text-color: #ffffff;
$hover-color: #4717F6;
$standard-trans: all .5s ease-out;
$slide-animation: all 1s ease-out;